<?xml version='1.0' encoding='utf-8'?>
<widget id="fi.golfer" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Golfer</name>
    <description>
       golfer
    </description>
    <author email="timo.lyytinen@iki.fi" href="http://github.com">
        golfer team
    </author>
    <content src="http://golfer.herokuapp.com" />
    <access origin="*" />
</widget>
